/.idea
**/node_modules/
**/dist/

node_modules
.pnpm-store

/dist
/node_modules
/build
apps/api/build

.env
.env.*
.DS_Store

apps/web/dist
apps/web/node_modules

apps/api/dist
apps/api/node_modules
apps/api/coverage
apps/api/.env
apps/api/.env.*

logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

apps/api/logs
apps/api/*.log
apps/api/npm-debug.log*
apps/api/pnpm-debug.log*
apps/api/yarn-debug.log*
apps/api/yarn-error.log*
apps/api/lerna-debug.log*
